
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.intro {
    background: url(./Assets/Images/Title/IntroPage.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    background: url(./Assets/Images/Title/TitlePage.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category {
    background: url(./Assets/Images/MISC/GameBKG.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.rap-page {
    background: url(./Assets/Images/Rappers/RapGame.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.celeb-page {
    background: url(./Assets/Images/Celebrities/CelebGame.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.auth-page {
    background: url(./Assets/Images/Authors/AuthGame.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.rap {
    background-image: url(./Assets/Images/MISC/ClickPlay.jpg);
}

.celeb {
    background-image: url(./Assets/Images/MISC/ClickPlay.jpg);
}

.auth {
    background-image: url(./Assets/Images/MISC/ClickPlay.jpg);
}


.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    /* border-radius: var(--border-radius); */
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.grid-item {
    /* text-align: center; */
    cursor: pointer;
    margin: 15px;
    border-radius: var(--border-radius);
    background-size: 185px;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item img:hover {
    opacity: 0;
}

.grid-item img {
    width: 185px;
    border-radius: var(--border-radius);
    overflow: hidden;
    vertical-align: middle;
    opacity: 100;
    transition: .2s ease;
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url(./Assets/Images/MISC/ScoreBKG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .25s ease;

}

button {
    background: var(--primary);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: var(--base-font);
    color: var(--light);
    font-size: 1em;
    transition: .3s ease;
    outline: none;
    font-weight: 900;
    letter-spacing: .1em;

}

.hidden {
    display: none;
}


/* CREATE GAMEBOARD/BACKGROUND for each of three levels */